html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0;
    position: relative;
}

.title{
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
    display: block;
    bottom: 80%;
}
.text-title{
    font-size: 5vw;
    top: 50%;
}
.text-quote{
    color: rgb(131, 131, 131);
}
.text-lighter{
    color: rgb(179, 179, 179);
}
